
@{
    ViewData["Title"] = "Admin";
}

<from method="POST" action="">
    <input type="text" name="id" placeholder="Article ID">
    <input type="text" name="header" placeholder="Header">
    <input type="text" name="content" placeholder="Content">
    <input type="text" name="price" placeholder="Price">
    <input type="text" name="standardprice" placeholder="Standardprice">
    <button type="submit">Add</button>
</from>